<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
    {% load static %}
  <header>
    <div class="containerfluid bg-secondary">
      <nav class="navbar navbar-light bg-light fixed-top justify-content-center">

        <div class="row">
          <a class="navbar-brand" href="#">



            {% load static %}
            <img src="{% static 'logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            ERA 2021
          </a>
        </div>

      </nav>

    </div>
  </header>

  {% if selected_event %}
  <section style="margin-top: 50px;">
    <div class="container-fluid justify-content-center">
      <div class="row text-center">
        <h2>{{selected_event.name}}</h2>
      </div>
      <div class="row text-center">
        <p>{{ selected_event.details}}</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-8 justify-content-center">
         
          <form method="POST">
            {% csrf_token %}
        
        
            <div class="form-group">
              <input type="text" class="form-control" id="fisrtNameInput" placeholder="" value="{{ selected_event.id }} name='event" hidden>
              <label for="exampleFormControlInput1">First Name</label>
              <input type="text" class="form-control" id="fisrtNameInput" placeholder="first name" name='first_name'>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Second Name</label>
              <input type="text" class="form-control" id="secondNameInput" placeholder="second name" name="second_name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Whatsapp Number</label>
              <input type="number" class="form-control" id="phoneInput" placeholder="+91 xxxx xxxx xx" name="phone">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Course</label>
              <input type="text" class="form-control" id="Course" placeholder="Course you are studying" name="course">
            </div>
            
            
            <div class="form-group">
              <label for="exampleFormControlSelect1">Year</label>
              <select class="form-control" id="exampleFormControlSelect1" name="year">
                <option>First year</option>
                <option>Second  year</option>
                <option>Third year</option>
                <option>fourth year</option>
                <option>Completed</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlInput1">College</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name of your College" name="college">
            </div>
            <div class="row justify-content-center" style="padding-top: 20px;">
              <div class="col-sm-8 justify-content-center text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
     
    </div>
    
  </section>
    {% endif %}  

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>