
<!DOCTYPE html>

<head>
    <title>home</title>
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
   <p> Event name :{{event.name}}</p>
   <p> Event details :{{event.details}}</p>
   <p style="color: red;"> Event banner :<img src="{{event.event_banner}}" alt="Image not showing" srcset=""></p>
   <p> No of seats :{{event.no_of_seats}}</p>
   <p> date :{{event.date}}</p>
   <p> Time :{{event.time}}</p>
   <p> Registration fee :{{event.fees}}</p>
   <p> first price :{{event.first_price}}</p>
   <p> second price :{{event.second_price}}</p>
   <p> third price price :{{event.third_price}}</p>
   <p> is group item :{{event.is_Group}}</p>
   <p> maximum no of  members :{{event.max_GroupMembers}}</p>
   <p> minimum no of members :{{event.min_GroupMembers}}</p>
   

   
</body>

</html>